body {
    background-color: rgb(12, 122, 1);
    font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.393);
}

h2 {
    font-size: 40px;
}

button {
    border-radius: 12px;
    height: 2rem;
    padding: 7px 10px;
    cursor: pointer;
    border: 2px solid rgb(0, 5, 0);
    background-color: rgb(231, 84, 74);
    margin: 5px;
}

span {
    font-weight: bold;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
